@import "tailwindcss";

body {
  font-family: 'Montserrat', sans-serif;
}

@media(max-width: 859px) {
  .custom-collapse {
    display: none;
  }

  .custom-menu {
    display: flex !important;
    flex-direction: column;
    gap: 1rem;
  }

  .custom-toggle {
    display: block !important;
  }
}

@media(min-width: 860px) {
  .custom-toggle {
    display: none !important;
  }

  .custom-collapse {
    display: flex !important;
  }

  .custom-menu {
    display: none !important;
  }
}

@media (min-width: 860px) and (max-width: 1050px) {
  .custom-two-column {
    flex-direction: column;
  }
}

.team-grid {
  display: grid;
  grid-template-columns: 1fr;
}

@media (min-width: 860px) and (max-width: 1050px) {
  .team-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1051px) {
  .team-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.bg-dots {
  background:
    radial-gradient(#05998c 1px, transparent 1px),
    linear-gradient(to bottom, #a0f0e8, #057c70);
  background-size: 30px 30px, cover;
  background-repeat: repeat, no-repeat;
  background-position: center, center;
  background-attachment: fixed;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}
