@import "tailwindcss";

body {
  font-family: 'Montserrat', sans-serif;
}

html {
  font-size: clamp(14px, 1.2vw, 18px);
}

@media(max-width: 859px) {
  .custom-collapse {
    display: none;
  }

  .custom-menu {
    display: flex !important;
    flex-direction: column;
    gap: 1rem;
  }

  .custom-toggle {
    display: block !important;
  }
}

@media(min-width: 860px) {
  .custom-toggle {
    display: none !important;
  }

  .custom-collapse {
    display: flex !important;
  }

  .custom-menu {
    display: none !important;
  }
}

@media (min-width: 860px) and (max-width: 1050px) {
  .custom-two-column {
    flex-direction: column;
  }
}

.team-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

@media (min-width: 860px) {
  .team-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1051px) {
  .team-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.bg-grad {
  background:
    linear-gradient(to bottom, #ddfffc, #057c70);
  background-attachment: fixed;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

.scrollbar-styled {
  scrollbar-width: thin;
  scrollbar-color: #489588 transparent;
}

.scrollbar-styled::-webkit-scrollbar {
  height: 6px;
}

.scrollbar-styled::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-styled::-webkit-scrollbar-thumb {
  background-color: #489588;
  border-radius: 3px;
}

.scrollbar-styled::-webkit-scrollbar-thumb:hover {
  background-color: #489588;
}


.faq-answer {
  max-height: 0;
  overflow: hidden;
  padding-bottom: 0;
  transition: max-height 0.4s ease, padding-bottom 0.4s ease;
}

.faq-answer.open {
  max-height: 500px;
  padding-bottom: 1rem;
}

.expandable-text {
  max-height: 140px;
  overflow: hidden;
  transition: max-height 0.5s ease, padding 0.5s ease;
  padding-bottom: 0;
}

.expandable-text.expanded {
  max-height: 1000px;
  padding-bottom: 1rem;
}
